@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

.carousel-two {
    width: 100%;
    height: 100%;
}


.carousel-small {
    animation: smallToLarge 4s ease-in-out infinite;
}


.carousel-large {
    animation: largeExit 4s ease-in-out infinite;
}


@keyframes smallToLarge {
    0% {
        transform: translateX(0) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: translateX(208px) scale(1.15);
        opacity: 1;
    }

    100% {
        transform: translateX(208px) scale(1.15);
        opacity: 1;
    }
}


@keyframes largeExit {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(208px);
        opacity: 0;
    }

    100% {
        transform: translateX(208px);
        opacity: 0;
    }
}